body{
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-info{
    width:175px;
    height:175px;
    position:relative;
}
.btn-primary{
    position: absolute;

}

#text{
    font-size: 75px;
}





